<h2>Libro alquilado con exito.</h2>
<h3>Detalles:</h3>

<ul>
<li>Fecha de creacion: <%= @rent.created_at %></li>
<li>Libro: <%= @rent.book %></li>
</ul>
<p>El alquiler permanecera vigente desde <%= @rent.from %> hasta <%= @rent.to %></p>